<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 50px" />

# Python Ladder Challenge - Notebook 2

_Author:_ Tim Book

# Climb the Ladder!
Our class moves quickly! Sometimes, it feels like we make leaps in logic that are a bit too big. Learn Python _slowly_, by doing many, many examples. Problems in this notebook start out easy and progressively get harder, so that the next rung of the Python ladder is always within reach.

# Section IV: Conditionals and Loops

34) Print out the numbers 1 through 10.

In [7]:
for x in range(1,11):
    print(x)

1
2
3
4
5
6
7
8
9
10

35) Print out the odd numbers between 1 and 20 by using the third paramter to the `range()` function.

In [8]:
for x in range(1,21,2):
    
    print(x)

1
3
5
7
9
11
13
15
17
19

36) Print out the odd numbers between 1 and 20 by checking if the number is even before printing.

In [21]:
for x in range (1,21):
    if x % 2 == 0:
        pass
    else:
        print (x)

1
3
5
7
9
11
13
15
17
19

37) What is the sum of the first 100 integers? Hint: Create a variable `total` equal to zero, and increment `total` inside a loop.

In [36]:
total = 0
for num in range(0,101):
    total+= num
    print(total)

0
1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950
5050

In [35]:
#checking my answer
sum(range(1,101))

5050

38) For each friend in your `friends` list, print `'PERSON IS AWESOME!'` in all caps, where `PERSON` is of course replaced with your friend's name.

In [38]:
friends = ["Alice", "Bob", "Charlie", "Debbie"]

In [50]:
for each_friend in friends:
    loud_name=each_friend.upper()    
    print(f'{loud_name} IS AWESOME!')

ALICE IS AWESOME!
BOB IS AWESOME!
CHARLIE IS AWESOME!
DEBBIE IS AWESOME!

39) Similar to the last problem, print `'PERSON IS AWESOME!'` for each friend in your friends list _only if their name ends in a vowel_. Otherwise, print `"person is ok..."` (all lowercase).

In [55]:
for each_friend in friends:
    if each_friend[-1] in ['a','e','i','o','u']:
        loud_name=each_friend.upper()
        print(f'{loud_name} IS AWESOME!')
    else:
        pass

ALICE IS AWESOME!
CHARLIE IS AWESOME!
DEBBIE IS AWESOME!

40) For each number between 1 and 30 (inclusive), if a number is divisible by 3, print `'Fizz'`. Otherwise, just print the number.

In [57]:
num_list=range(1,31)
for num in num_list:
    if num %3==0:
        print('Fizz')
    else:
        print(num)

1
2
Fizz
4
5
Fizz
7
8
Fizz
10
11
Fizz
13
14
Fizz
16
17
Fizz
19
20
Fizz
22
23
Fizz
25
26
Fizz
28
29
Fizz

41) For each number between 1 and 30 (inclusive), if a number is divisible by 5, print `'Buzz'`. Otherwise, just print the number.

In [62]:
num_list=range(1,31)
for num in num_list:
    if num %3==0:
        print('Fizz')
    else:
        print(num)

1
2
Fizz
4
5
Fizz
7
8
Fizz
10
11
Fizz
13
14
Fizz
16
17
Fizz
19
20
Fizz
22
23
Fizz
25
26
Fizz
28
29
Fizz

42) **FIZZBUZZ!** For each number between 1 and 30 (inclusive),
* if a number is divisible by 3, print `'Fizz'`
* if a number is divisible by 5, print `'Buzz'`
* if a number is divisible by both 3 and 5, instead print `'FizzBuzz'`,
* otherwise, just print the number

This problem is the famous "Fizzbuzz" problem - and is a very common interview coding challenge! If you can do this without help, you're making awesome progress! Well done!

In [66]:
num_list=range(1,31)
for num in num_list:
    if (num %3 == 0 and num % 5==0):
        print('FizzBuzz')
    elif num %3==0:
        print('Fizz')
    elif num %5==0:
        print('Buzz')
    else:
        print(num)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz

43) Define some string `sentence`. If you can't think of a good one, feel free to use `fact` from the previous notebook.

In [515]:
sentence = "Thanks for the memories"

#list_sentence=sentence.split()
# print(list_sentence)

44) Count the number of vowels in `sentence` (no, y is not a vowel).
* _Hint:_ What happens if you loop through a string?

In [516]:
#got help from: https://stackoverflow.com/questions/19967001/count-vowels-in-string-python because kept getting list of numbers rather than just one.
#realized print was in the wrong place
num_vowels = 0
for each in sentence:
    if each in "aeiouAEIOU":
        num_vowels+= 1
print(num_vowels)

7

45) Define a variable `sentence_rm` that is equal to `sentence` with all vowels removed. 
* _Hint:_ This is a tough one. Start out with an empty string and concatenate all of the consonants to it inside a loop.

In [549]:
# sentence_rm = ""
for x in sentence:
    if x not in 'aeiouAEIOU':
        sentence_rm=sentence.replace(x,"")
    print(sentence_rm)

hanks for the memories
Tanks for te memories
Tanks for te memories
Thaks for the memories
Thans for the memories
Thank for the memorie
Thanksforthememories
Thanks or the memories
Thanks or the memories
Thanks fo the memoies
Thanksforthememories
Thanks for he memories
Tanks for te memories
Tanks for te memories
Thanksforthememories
Thanks for the eories
Thanks for the eories
Thanks for the eories
Thanks for the eories
Thanks fo the memoies
Thanks fo the memoies
Thanks fo the memoies
Thank for the memorie

46) Create a variable `fav_number` equal to whatever is your favorite integer. Write a loop to determine if `fav_number` is prime. Recall that a prime number is any number whose only divisors are 1 and itself. For example, 6 is not prime since it's divisible by 1, 2, 3, and 6. But 7 _is_ prime since it's only divisible by 1 and 7.

In [336]:
fav_number = x

x = 5
i=2

while x % i != 0:
    i=i+1
    
if x==i:
    print('this is a prime number')
else:
    print('this is not a prime number')

this is a prime number

47) A palindromic number reads the same both ways. For example, 1234321 is a palindrome. Write an `if` statement to test whether or not a number is palindromic.

In [370]:
pal_num = str(input('Is this number a palindrome?'))

if pal_num[::1] == pal_num[::-1]:
    print('This is a palindrome, pal')
else:
    print('This is NOT a palindrome, pal')

Is this number a palindrome? 98789

This is a palindrome, pal

48) Find the largest palindrome made from the product of two two-digit numbers.
* _Tip:_ Do not worry about the "efficiency" of your answer! The easiest answer is very inefficient.

# Section V: List Comprehensions

**Disclaimer:** Many (maybe all) of these exercises can be done without a list comprehension. However, listcomps are often the easiest way to solve a problem like this. Listcomps are also optimized in Python, meaning they are also often the _fastest_ way to solve a problem. In fact, **every problem in this section can be solved in one line of code!**

---
**IMPORTANT NOTE: Consider all ranges in this section to be *inclusive*.**

49) Create a list of the numbers 1 through 10.

In [375]:
my_list=list(range(1,11))
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

50) Create a list of the squares of the numbers between 1 and 10.

In [376]:
[num**2 for num in my_list]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

51) Create a list of all the even numbers between 18 and 47.

In [381]:
[num for num in list(range (18,48)) if num%2==0]

[18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46]

52) Create a list of the squares of the even numbers between 1 and 20.

In [383]:
[num**2 for num in list(range (1,21)) if num%2==0]

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

53) What is the sum of the cubes of the numbers between 7 and 37?

In [384]:
[sum(num**3 for num in list(range(7,38)))]

[493768]

54) Create a list of all of the numbers divisible by either 3 or 5 (or both) between 1 and 30.

In [391]:
[num for num in list(range(1,31)) if num%3==0 or num %5==0]

[3, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24, 25, 27, 30]

55) Redefine this list to be all uppercase.

In [564]:
friends = ['Alice', 'Bob', 'Charlie', 'Derek']

In [565]:
friends = [each.upper() for each in friends]

In [566]:
#testing my answer
print(friends)

['ALICE', 'BOB', 'CHARLIE', 'DEREK']

56) Remove all elements from `friends` whose names do not end in a vowel.

In [569]:
[each for each in friends if each[-1] in ['A','E','I','O','U']]

['ALICE', 'CHARLIE']

57) Take the `sentence` you used earlier and remove the vowels again. This time, using a one-line list comprehension.

* _Hint:_ You'll find the `.join()` method to be useful here.

In [577]:

# sentence_rm = ""
# for x in sentence:
#     if x not in 'aeiouAEIOU':
#         sentence_rm=sentence.join(x)
#     else:
#         pass
#     print(sentence_rm)
[each.join(each) for each in sentence if each not in'aeiouAEIOU']

['T',
 'h',
 'n',
 'k',
 's',
 ' ',
 'f',
 'r',
 ' ',
 't',
 'h',
 ' ',
 'm',
 'm',
 'r',
 's']

58) You need to access Excel files that have names like `Jan 5.xlsx` or `Mar 15.xlsx`. Create a list of January 1 through January 31 like this. That is, create the list of: `['Jan 1.xlsx', 'Jan 2.xlsx', ... , 'Jan 31.xlsx']`.

In [594]:
['Jan ' + str(num) + '.xlsx' for num in range(1,32)]

['Jan 1.xlsx',
 'Jan 2.xlsx',
 'Jan 3.xlsx',
 'Jan 4.xlsx',
 'Jan 5.xlsx',
 'Jan 6.xlsx',
 'Jan 7.xlsx',
 'Jan 8.xlsx',
 'Jan 9.xlsx',
 'Jan 10.xlsx',
 'Jan 11.xlsx',
 'Jan 12.xlsx',
 'Jan 13.xlsx',
 'Jan 14.xlsx',
 'Jan 15.xlsx',
 'Jan 16.xlsx',
 'Jan 17.xlsx',
 'Jan 18.xlsx',
 'Jan 19.xlsx',
 'Jan 20.xlsx',
 'Jan 21.xlsx',
 'Jan 22.xlsx',
 'Jan 23.xlsx',
 'Jan 24.xlsx',
 'Jan 25.xlsx',
 'Jan 26.xlsx',
 'Jan 27.xlsx',
 'Jan 28.xlsx',
 'Jan 29.xlsx',
 'Jan 30.xlsx',
 'Jan 31.xlsx']

59) Below is a list of amounts in euros. Create a new list, `dollars`, which is these amounts converted to U.S. dollars. There are 1.1 dollars per euro.

In [597]:
euros = [4.50, 6.70, 3.25, 9.99, 12.75, 0.35]

In [604]:
dollars = [each*1.1 for each in euros]
print(dollars)

[4.95, 7.370000000000001, 3.575, 10.989, 14.025, 0.385]

60) Below is a list of heights in inches. In order to ride a roller coaster, you must be at least 5 feet tall (60 inches). Filter this list to be _only_ those heights tall enough to ride.

In [605]:
heights = [71, 48, 55, 65, 68, 60, 58, 53]

In [617]:
[each for each in heights if each > 60]

[71, 65, 68]

61) Repeat the above exercise, except replace the lower heights with a `None` instead of dropping them.
* _Hint:_ Python has an in-line `if` statement, sometimes called a _ternary operator_ that you might find useful here. For example:

```
print("Tall enough" if 72 > 60 else "Too short")
print("Tall enough" if 52 > 60 else "Too short")
```

In [629]:
[print(each if each > 60 else "None") for each in heights]

71
None
None
65
68
None
None
None

[None, None, None, None, None, None, None, None]

62) Here are more heights below. However, this time, the information is contained in a dictionary. Create a list of the names _and ONLY the names_ of the people who are tall enough to ride the roller coaster.

* _Hint:_ How can you loop through a dictionary?

In [630]:
people = {
    'Aaron': 58,
    'Barbara': 66,
    'Clarence': 62,
    'Donovan': 55,
    'Erika': 70,
    'Fernando': 72
}

In [707]:
#1) for heights in people.values():
#     print(heights)

#2) [heights for heights in people.values() if heights >60]

# 3) for name, height in people.items():
#     if height>60:
#         print(name)

[name for name,height in people.items() if height>60]

['Barbara', 'Clarence', 'Erika', 'Fernando']

63) Below we have some more data on our classmates. This time, the dictionary values are test scores. A student's final grade is their _maximum_ score on these three tests. Create a list of the students' final grades.

In [711]:
people = {
    'Aaron': [87, 52, 78],
    'Barbara': [92, 79, 85],
    'Clarence': [42, 68, 55],
    'Donovan': [95, 100, 87],
    'Erika': [62, 88, 47],
    'Fernando': [84, 99, 0]
}

In [758]:
# [name for name in people.items()]
#max(people.items()
[print(name,",", max(scores)) for name, scores in people.items()]

Aaron , 87
Barbara , 92
Clarence , 68
Donovan , 100
Erika , 88
Fernando , 99

[None, None, None, None, None, None]

64) Repeat the above problem, except create a _dictionary_ of the final scores, where the dictionary keys are the names, and the dictionary values are the final grade.

* _Hint:_ You can do **dictionary comprehension** to solve this problem! Yes, it exists!

In [789]:
students_final_grade = dict([name, max(maxscores) for name, maxscores in people.items()])

print(students_final_grade)

SyntaxError: invalid syntax (<ipython-input-789-d737e0ba6407>, line 1)

65) Using the two lists defined below, create the following resulting list:

`['AZ', 'BY', 'CX', 'DW', 'EV']`

* _Hint:_ Check out the `zip()` function.

In [794]:
letters_a = ['A', 'B', 'C', 'D', 'E']
letters_z = ['Z', 'Y', 'X', 'W', 'V']

In [795]:
#https://docs.python.org/3/library/functions.html#zip
zipped = zip(letters_a, letters_z)
list(zipped)

[('A', 'Z'), ('B', 'Y'), ('C', 'X'), ('D', 'W'), ('E', 'V')]

66) Using `letters_a` defined in the previous problem, create the following list:

```
[
    'A is letter 1 of the alphabet',
    'B is letter 2 of the alphabet',
    ...
]
```

* _Hint:_ Checkout the `enumerate()` function.

In [854]:
#https://www.geeksforgeeks.org/enumerate-in-python/

letters_a = ['A', 'B', 'C', 'D', 'E']
for letters in enumerate(letters_a,1):
    print(letters)

(1, 'A')
(2, 'B')
(3, 'C')
(4, 'D')
(5, 'E')

# Section VI: Libraries, imports and some more math!

67) Import the `math` library

In [763]:
import math

68) The `math` library has a lot of cool stuff in it. For this problem, evaluate the following math expressions:

a) $\sin{\frac{\pi}{2}}$

In [860]:
#https://www.tutorialspoint.com/python/number_sin.htm
math.sin(math.pi/2)

1.0

b) $\ln{\sqrt{e}}$
* _Hint:_ A logarithm with base $e$ is represented by just `log` in `math`. In fact, throughout the course, $\log$ with no subscript will always denote the natural log (ie, log base $e$).

In [867]:
math.log(math.sqrt(math.e))

0.5

c) $e^{3!}$

In [871]:
#https://docs.python.org/3/library/math.html
math.exp(math.factorial(3))

403.4287934927351

69) Two popular math functions are the "round up" and "round down" functions. In computer science, we call them the "ceiling" and "floor" functions. They're used and denoted as follows:

* `ceil(3.8)` $= \lceil 3.8 \rceil = 4$
* `ceil(3.2)` $= \lceil 3.2 \rceil = 4$
* `floor(3.8)` $= \lfloor 3.8 \rfloor = 3$
* `floor(3.2)` $= \lfloor 3.2 \rfloor = 3$

We _only_ need these two functions out of the `math` library. Use an `import` statement to import _only_ these two functions and verify the above examples are true.

In [885]:
#https://stackoverflow.com/questions/6761825/importing-multiple-functions-from-a-python-module
from math import ceil, floor

In [893]:
floor(3.8)

3

70) We can also _alias_ library names if they're too long and we will be using them often. As we will do many times in this course, import the following three libraries:

* Import the `numpy` library, aliasing it as `np`
* Import the `pandas` library, aliasing it as `pd`
* Import the `matplotlib.pyplot` library and submodule, aliasing it as `plt`

In [894]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

71) You can also import everything from a library all at once without needing to prefix it:

`from math import *`

For this question your task is: _never, **ever**_ do this.

Why?
1. It "pollutes" the namespace with variable names that could easily be overwritten on accident.
    - For example, after the import we could accidentally define `sin = 'without'` then be surprised when `sin(0.5)` no longer works!
2. It does not show the reader which module a given function came from. 
    - For example, we see above that `ceil` came from the `math` library since it was noted in the import.
    - If we use * is much more difficult to determine which module `ceil` is from.